body,
input {
  background-color: #009e8e;
  font-family: calibri;
  text-align: center;
}

h1 {
  font-size: 60px;
}

label {
  font-size: 20px;
  font-weight: normal;
}

input {
  border: none;
  color: #ffe4b2;
  width: 50px;
}

p,
input {
  font-size: 40px;
  font-weight: bolder;
}
output {
  white-space: pre-wrap;
}

#hint {
  font-size: 14px;
  font-weight: 100;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  display: inline-block;
  border: none;
  background-color: #ffd587;
  font-family: calibri;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  transition-duration: 0.4s;
  color: #333;
  border-radius: 5px;
}

button:hover {
  background-color: #59c6c6;
}

button:active {
  background-color: #b263cf;
}
