body {
    background-image: url(background.png);
    background-attachment: fixed;
}

main, footer {
    background-color: white;
    padding: 20px 5px 20px 5px;
    margin: 5% 25% 5% 25%;
    border-radius: 10px;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    font-family: calibri;
    font-size: 20px;
    padding: 6px;
}

button {
    display: inline-block;
    border: none;
    background-color: #9a3fba;
    font-family: calibri;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    transition-duration: 0.4s;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #59c6c6;
}

button:active {
    background-color: #b263cf;
}

.myButtons {
    text-align: center;
    
}

img {
    float: right;
    background-attachment: fixed;
    margin: -22% -5% 0% 50%;
}